/* import fonts from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Pinyon+Script&display=swap');

/* fonts  */
.instrument-serif-regular {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
}




 /* spacing  */
 .text-center{
    text-align: center;
 }

/* header  */
header {
    width: 100%;
    background-color: #153D70;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#brand {
    flex-basis: 40%;
}

#brand>h1{ /* Selecting the child fo brand id */
    margin:0;
}

nav {
    flex-basis: 60%;
}


#nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

/* Selecting the links */
.nav-bar-link>a {
    color: #ffffff;
    text-decoration: none;
}


 /* footer */
footer{
    width: 100%;
    background-color: #153D70;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#hours {
    flex-basis: 40%;
}

#hours > h3,p{
    margin: 0;
}
#social {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

/* home.html */
#home-image{
    width: 100%;
}

#home-message{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* contact.html */

#main-contact{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#contact-form{
    background-color: #e3e6e8;
    padding: 25px;
    margin-bottom: 25px;
}

.form-input{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.btn-submit{
    background-color: #fafafafa;
    color: #153D70;
    border: 1px solid #153D70;
    padding: 5px 15px;
    border-radius: 25px;
    margin: auto;
    margin-top: 15px;
}

.btn-submit:hover{
    background-color: #153D70;
    color: #fafafa;
    cursor: pointer;
}




/* responsive design */
